attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1599308529326/work
Automat==20.2.0
bcrypt @ file:///home/conda/feedstock_root/build_artifacts/bcrypt_1597603494847/work
certifi==2020.6.20
cffi @ file:///tmp/build/80754af9/cffi_1598370769933/work
constantly==15.1.0
cryptography @ file:///home/conda/feedstock_root/build_artifacts/cryptography_1598621009452/work
cssselect==1.1.0
hyperlink @ file:///home/conda/feedstock_root/build_artifacts/hyperlink_1596631460104/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1593328102638/work
incremental==17.5.0
itemadapter @ file:///home/conda/feedstock_root/build_artifacts/itemadapter_1593694453559/work
itemloaders @ file:///home/conda/feedstock_root/build_artifacts/itemloaders_1599661894329/work
jmespath @ file:///home/conda/feedstock_root/build_artifacts/jmespath_1589369830981/work
lxml @ file:///home/conda/feedstock_root/build_artifacts/lxml_1594322700295/work
parsel @ file:///home/conda/feedstock_root/build_artifacts/parsel_1591122878042/work
Protego==0.1.16
pyasn1==0.4.8
pyasn1-modules==0.2.7
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1593275161868/work
PyDispatcher==2.0.5
PyHamcrest==2.0.2
pyOpenSSL==19.1.0
queuelib==1.5.0
Scrapy @ file:///home/conda/feedstock_root/build_artifacts/scrapy_1597249868160/work
service-identity==18.1.0
six @ file:///home/conda/feedstock_root/build_artifacts/six_1590081179328/work
Twisted==20.3.0
w3lib @ file:///home/conda/feedstock_root/build_artifacts/w3lib_1591173357158/work
zope.interface==5.1.0
