argon2-cffi==20.1.0
astroid @ file:///tmp/build/80754af9/astroid_1613500854201/work
async-generator==1.10
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1605083924122/work
autobahn @ file:///home/conda/feedstock_root/build_artifacts/autobahn_1613057739450/work
Automat==20.2.0
backcall @ file:///home/ktietz/src/ci/backcall_1611930011877/work
bcrypt @ file:///home/conda/feedstock_root/build_artifacts/bcrypt_1602546543856/work
bleach==3.3.0
certifi==2020.12.5
cffi @ file:///tmp/build/80754af9/cffi_1613246945912/work
click==7.1.2
constantly==15.1.0
cryptography==2.9.2
cssselect==1.1.0
decorator @ file:///home/ktietz/src/ci/decorator_1611930055503/work
defusedxml==0.7.1
entrypoints==0.3
hkdf==0.0.3
humanize @ file:///home/conda/feedstock_root/build_artifacts/humanize_1618251239400/work
hyperlink @ file:///home/conda/feedstock_root/build_artifacts/hyperlink_1610092164190/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1609836280497/work
incremental==17.5.0
ipykernel @ file:///tmp/build/80754af9/ipykernel_1596207638929/work/dist/ipykernel-5.3.4-py3-none-any.whl
ipython @ file:///tmp/build/80754af9/ipython_1612212923938/work
ipython-genutils @ file:///tmp/build/80754af9/ipython_genutils_1606773439826/work
ipywidgets==7.6.3
isort @ file:///tmp/build/80754af9/isort_1612243941122/work
itemadapter @ file:///home/conda/feedstock_root/build_artifacts/itemadapter_1605109124033/work
itemloaders @ file:///home/conda/feedstock_root/build_artifacts/itemloaders_1605273565796/work
jedi==0.17.0
Jinja2==2.11.3
jmespath @ file:///home/conda/feedstock_root/build_artifacts/jmespath_1589369830981/work
joblib @ file:///tmp/build/80754af9/joblib_1601912903842/work
jsonschema==3.2.0
jupyter-client @ file:///tmp/build/80754af9/jupyter_client_1601311786391/work
jupyter-core @ file:///tmp/build/80754af9/jupyter_core_1612213311222/work
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.0
lazy-object-proxy @ file:///tmp/build/80754af9/lazy-object-proxy_1606850056019/work
lxml @ file:///tmp/build/80754af9/lxml_1606516814318/work
MarkupSafe==1.1.1
mccabe==0.6.1
mistune==0.8.4
mkl-fft==1.3.0
mkl-random==1.1.1
mkl-service==2.3.0
mypy @ file:///tmp/build/80754af9/mypy_1613763625988/work
mypy-extensions==0.4.3
nbclient==0.5.3
nbconvert==6.0.7
nbformat==5.1.3
nest-asyncio==1.5.1
notebook==6.3.0
numpy @ file:///tmp/build/80754af9/numpy_and_numpy_base_1603570489231/work
packaging==20.9
pandas==1.2.4
pandocfilters==1.4.3
parsel @ file:///home/conda/feedstock_root/build_artifacts/parsel_1591122878042/work
parso @ file:///tmp/build/80754af9/parso_1607623074025/work
pexpect @ file:///tmp/build/80754af9/pexpect_1605563209008/work
pickleshare @ file:///tmp/build/80754af9/pickleshare_1606932040724/work
prometheus-client==0.10.1
prompt-toolkit @ file:///tmp/build/80754af9/prompt-toolkit_1602688806899/work
Protego==0.1.16
psutil @ file:///tmp/build/80754af9/psutil_1612298023621/work
psycopg2 @ file:///tmp/build/80754af9/psycopg2_1612298147424/work
ptyprocess @ file:///tmp/build/80754af9/ptyprocess_1609355006118/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pyasn1==0.4.8
pyasn1-modules==0.2.7
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1593275161868/work
PyDispatcher==2.0.5
Pygments @ file:///tmp/build/80754af9/pygments_1613849567472/work
PyHamcrest==2.0.2
pylint @ file:///tmp/build/80754af9/pylint_1614007998847/work
PyNaCl @ file:///home/conda/feedstock_root/build_artifacts/pynacl_1610673137600/work
pyOpenSSL==19.1.0
pyparsing==2.4.7
pyrsistent==0.17.3
python-dateutil @ file:///home/ktietz/src/ci/python-dateutil_1611928101742/work
python-Levenshtein==0.12.2
pytz @ file:///tmp/build/80754af9/pytz_1612215392582/work
pyzmq==20.0.0
queuelib==1.5.0
rapidfuzz @ file:///home/conda/feedstock_root/build_artifacts/rapidfuzz_1617087210852/work
regex @ file:///tmp/build/80754af9/regex_1602786672676/work
rouge==1.0.0rc2
Scrapy @ file:///home/conda/feedstock_root/build_artifacts/scrapy_1605626492650/work
Send2Trash==1.5.0
service-identity==18.1.0
six @ file:///home/conda/feedstock_root/build_artifacts/six_1590081179328/work
spake2==0.8
terminado==0.9.4
testpath==0.4.4
texttable==1.6.3
toml @ file:///tmp/build/80754af9/toml_1592853716807/work
tornado @ file:///tmp/build/80754af9/tornado_1606942300299/work
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1617680194207/work
traitlets @ file:///home/ktietz/src/ci/traitlets_1611929699868/work
Twisted @ file:///home/conda/feedstock_root/build_artifacts/twisted_1602649011994/work
txaio @ file:///home/conda/feedstock_root/build_artifacts/txaio_1613846340982/work
typed-ast @ file:///tmp/build/80754af9/typed-ast_1610484547928/work
typing-extensions @ file:///home/ktietz/src/ci_mi/typing_extensions_1612808209620/work
w3lib @ file:///home/conda/feedstock_root/build_artifacts/w3lib_1591173357158/work
wcwidth @ file:///tmp/build/80754af9/wcwidth_1593447189090/work
webencodings==0.5.1
widgetsnbextension==3.5.1
wrapt==1.12.1
zope.interface @ file:///home/conda/feedstock_root/build_artifacts/zope.interface_1605096040837/work
